<%_ include ../../partials/header -%>
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/sidebar.css">
</head>

<body>
    <%_ include ../../partials/navbar -%>
    <%_ include ../../partials/sidebar -%>
    <div role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 " style="margin-top:30px;">
        <%_ if(messages){ -%>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= messages %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <%_ } -%>
        <%_ if(addNotif){ -%>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%= addNotif %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <%_ } -%>
        <h1>Issues</h1>
        <hr />
        <!-- TAMPILAN FILTERS  -->
        <% include ../../partials/filter-form %>

        <!-- TAMPILAN OPTIONS -->
        <% include ../../partials/options-form %>

        <!-- TAMPILAN TABEL -->
        <div class="table-responsive">
            <table border="0" class="table table-striped" style="margin-top: 50px;">
                <thead>
                    <tr>
                        <%- loggedInUser.issuesopt["ID"] ? '<th scope="col">Issue ID</th>' : "" %>
                        <%- loggedInUser.issuesopt["Subject"] ? '<th scope="col">Subject</th>' : "" %>
                        <%- loggedInUser.issuesopt["Tracker"] ? '<th scope="col">Tracker</th>' : "" %>
                        <%- loggedInUser.issuesopt["Description"] ? '<th scope="col">Description</th>' : "" %>
                        <%- loggedInUser.issuesopt["Status"] ? '<th scope="col">Status</th>' : "" %>
                        <%- loggedInUser.issuesopt["Priority"] ? '<th scope="col">Priority</th>' : "" %>
                        <%- loggedInUser.issuesopt["Assignee"] ? '<th scope="col">Assignee</th>' : "" %>
                        <%- loggedInUser.issuesopt["Start Date"] ? '<th scope="col">Start Date</th>' : "" %>
                        <%- loggedInUser.issuesopt["Due Date"] ? '<th scope="col">Due Date</th>' : "" %>
                        <%- loggedInUser.issuesopt["Estimate Time"] ? '<th scope="col">Estimated Time</th>' : "" %>
                        <%- loggedInUser.issuesopt["Done"] ? '<th scope="col">Done</th>' : "" %>
                        <%- loggedInUser.issuesopt["Parent Task"] ? '<th scope="col">Parent Task</th>' : "" %>
                        <%- loggedInUser.issuesopt["Author"] ? '<th scope="col">Author</th>' : "" %>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <%_ Issues.forEach((issue) => { -%>
                    <tr>
                        <%- loggedInUser.issuesopt["ID"] ? '<td>' + issue.issueid + '</td>' : "" %>
                        <%- loggedInUser.issuesopt["Subject"] ? '<td>' + issue.subject + '</td>' : "" %>
                        <%- loggedInUser.issuesopt["Tracker"] ? '<td>' + issue.tracker + '</td>' : "" %>
                        <%- loggedInUser.issuesopt["Description"] ? '<td>' + issue.description + '</td>' : "" %>
                        <%- loggedInUser.issuesopt["Status"] ? '<td>' + issue.status + '</td>' : "" %>
                        <%- loggedInUser.issuesopt["Priority"] ? '<td>' + issue.priority + '</td>' : "" %>
                        <%- loggedInUser.issuesopt["Assignee"] ? '<td>' + issue.assigneename + '</td>' : "" %>
                        <%- loggedInUser.issuesopt["Start Date"] ? '<td>' + moment(issue.startdate).format('MMMM Do, YYYY') + '</td>' : "" %>
                        <%- loggedInUser.issuesopt["Due Date"] ? '<td>' + moment(issue.duedate).format('MMMM Do, YYYY') + '</td>' : "" %>
                        <%- loggedInUser.issuesopt["Estimate Time"] ? '<td>' + issue.estimatedtime + ' Hours' + '</td>' : "" %>
                        <%- loggedInUser.issuesopt["Done"] ? '<td>' + issue.done + '</td>' : "" %>
                        <%- loggedInUser.issuesopt["Parent Task"] ? '<td>' + issue.parenttaskname + '</td>' : "" %>
                        <%- loggedInUser.issuesopt["Author"] ? '<td>' + issue.authorname + '</td>' : "" %>
                        <td>
                            <a role="button" class="btn btn-success mr-1"
                                href="<%=`/projects/issues/${projectid}/edit/${issue.issueid}`%>">Edit</a>
                            <%- (loggedInUser.isadmin || loggedInUser.generalrole == "Manager") ? `<a role="button" class="btn btn-danger" href="/projects/issues/${projectid}/delete/${issue.issueid}">Delete</a>` : '' %>
                        </td>
                    </tr>
                    <%_ }); -%>
                </tbody>
            </table>
        </div>

        <!--PAGINATION-->
        <nav aria-label="...">
                <ul class="pagination">
                  <li class="page-item <%= (currentPage == 1) ? 'disabled' : '' %>">
                    <a class="page-link" href="<%= url.includes('?') ? `/projects${url.replace('?page=' + currentPage,'?page=' + Number(currentPage-1))}` : `/projects/members/${projectid}?page=` + Number(currentPage-1) %>">Previous</a>
                  </li>
                  <% for(let i = (currentPage == 1) ? currentPage : currentPage - 1; i <= totalPage && i <= currentPage + 5; i++){ %>
                  <li class="page-item <%= (i == currentPage) ? 'active' : '' %>"><a class="page-link" href="<%= url.includes('?') ? `/projects${url.replace('?page=' + currentPage,'?page=' + i)}` : `/projects/members/${projectid}?page=` + i %>"><%= i %></a></li>
                  <% } %>
                  <li class="page-item <%= (currentPage == totalPage) ? 'disabled' : '' %> ">
                    <a class="page-link" href="<%= url.includes('?') ? `/projects${url.replace('?page=' + currentPage,'?page=' + Number(currentPage+1))}` : `/projects/members/${projectid}?page=` + Number(currentPage+1) %>">Next</a>
                  </li>
                </ul>
              </nav>

        <%- (loggedInUser.isadmin || loggedInUser.generalrole == "Manager") ? `<a role="button" href="${projectid}/add" class="btn btn-primary">Add</a>` : '' %>
    </div>

    <%_ include ../../partials/footer -%>