<nav class="col-md-2 d-none d-md-block bg-light sidebar nav-pills">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link <%= (currentURL == 'overview') ? 'active' : '';  %>" href="/projects/overview/<%=projectid%>">
            Overview 
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= (currentURL == 'activity') ? 'active' : '';  %>" href="/projects/activity/<%=projectid%>">
            Activity
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= (currentURL == 'members') ? 'active' : '';  %>" href="/projects/members/<%=projectid%>">
            Members
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= (currentURL == 'issues') ? 'active' : '';  %>" href="/projects/issues/<%=projectid%>">
            <span data-feather="users"></span>
            Issues
          </a>
        </li>
      </ul>
    </div>
  </nav>