<% include ../partials/header %>
</head>

<body>
    <% include ../partials/navbar %>
    <div class="px-5" style="margin-top: 80px">
        <h1>Projects</h1>
        <hr />
        <!-- TAMPILAN FILTERS  -->
        <% include ../partials/filter-form %>

        <!-- TAMPILAN OPTIONS -->
        <% include ../partials/options-form %>

        <!-- TAMPILAN TABEL -->
        <table border="0" class="table table-striped" style="margin-top: 50px;">
            <thead>
                <tr>
                    <%- loggedInUser.projectopt["ID"] ? '<th scope="col">#</th>' : "" %>
                    <%- loggedInUser.projectopt["Name"] ? '<th scope="col">Name</th>' : "" %>
                    <%- loggedInUser.projectopt["Members"] ? '<th scope="col">Members</th>' : "" %>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <%_ projects.forEach((project) => { -%>
                <tr>
                    <%- loggedInUser.projectopt["ID"] ? '<td>' + project.projectid + '</td>' : "" %>
                    <%- loggedInUser.projectopt["Name"] ? '<td>' + project.name + '</td>' : "" %>
                    <%- loggedInUser.projectopt["Members"] ? '<td>' + project.fullname + '</td>' : "" %>
                    <td>
                        <a role="button" class="btn btn-success mr-1" href="">Edit</a>
                        <a role="button" class="btn btn-danger" href="">Delete</a>
                    </td>
                </tr>
                <%_ }); -%>
            </tbody>
        </table>

        <!--PAGINATION-->
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>

        <a role="button" href="add" class="btn btn-primary">Add</a>
    </div>
    <% include ../partials/footer %>