<% include ../partials/header %>
</head>

<body>
    <% include ../partials/navbar %>
    <div class="px-5" style="margin-top: 80px">
        <h1>Projects</h1>
        <hr />
        <!-- TAMPILAN FILTERS  -->
        <% include ../partials/filter-form %>

        <!-- TAMPILAN OPTIONS -->
        <% include ../partials/options-form %>

        <!-- TAMPILAN TABEL -->
        <table border="0" class="table table-striped" style="margin-top: 50px;">
            <thead>
                <tr>
                    <%- loggedInUser.projectopt["ID"] ? '<th scope="col">#</th>' : "" %>
                    <%- loggedInUser.projectopt["Name"] ? '<th scope="col">Name</th>' : "" %>
                    <%- loggedInUser.projectopt["Members"] ? '<th scope="col">Members</th>' : "" %>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <%_ projects.forEach((project) => { -%>
                <tr>
                    <%- loggedInUser.projectopt["ID"] ? '<td>' + project.projectid + '</td>' : "" %>
                    <%- loggedInUser.projectopt["Name"] ? '<td>' + project.name + '</td>' : "" %>
                    <%- loggedInUser.projectopt["Members"] ? '<td>' + project.fullname + '</td>' : "" %>
                    <td>
                        <a role="button" class="btn btn-success mr-1" href="">Edit</a>
                        <a role="button" class="btn btn-danger" href="">Delete</a>
                    </td>
                </tr>
                <%_ }); -%>
            </tbody>
        </table>

        <!--PAGINATION-->
        <nav aria-label="...">
                <ul class="pagination">
                  <li class="page-item <%= (currentPage == 1) ? 'disabled' : '' %>">
                    <a class="page-link" href="<%= url.includes('?') ? `/projects${url.replace('/?page=' + currentPage,'?page=' + Number(currentPage-1))}` : '/projects?page=' + Number(currentPage-1) %>">Previous</a>
                  </li>
                  <% for(let i = (currentPage == 1) ? currentPage : currentPage - 1; i <= totalPage && i <= currentPage + 5; i++){ %>
                  <li class="page-item <%= (i == currentPage) ? 'active' : '' %>"><a class="page-link" href="<%= url.includes('?') ? `/projects${url.replace('/?page=' + currentPage,'?page=' + i)}` : '/projects?page=' + i %>"><%= i %></a></li>
                  <% } %>
                  <li class="page-item <%= (currentPage == totalPage) ? 'disabled' : '' %> ">
                    <a class="page-link" href="<%= url.includes('?') ? `/projects${url.replace('/?page=' + currentPage,'?page=' + Number(currentPage+1))}` : '/projects?page=' + Number(currentPage+1) %>">Next</a>
                  </li>
                </ul>
              </nav>

        <a role="button" href="projects/add" class="btn btn-primary">Add</a>
    </div>
    <% include ../partials/footer %>