<%_ include ../../partials/header -%>
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/sidebar.css">
</head>

<body>
    <%_ include ../../partials/navbar -%>
    <%_ include ../../partials/sidebar -%>
    <div role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 " style="margin-top:30px;">
        <%_ if(messages){ -%>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= messages %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <%_ } -%>
        <h1>Members</h1>
        <hr />
        <!-- TAMPILAN FILTERS  -->
        <% include ../../partials/filter-form %>

        <!-- TAMPILAN OPTIONS -->
        <% include ../../partials/options-form %>

        <!-- TAMPILAN TABEL -->
        <div class="table-responsive">
            <table border="0" class="table table-striped" style="margin-top: 50px;">
                <thead>
                    <tr>
                        <%- loggedInUser.membersopt["ID"] ? '<th scope="col">#</th>' : "" %>
                        <%- loggedInUser.membersopt["Name"] ? '<th scope="col">Name</th>' : "" %>
                        <%- loggedInUser.membersopt["Position"] ? '<th scope="col">Position</th>' : "" %>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <%_ Members.forEach((member) => { -%>
                    <tr>
                        <%- loggedInUser.membersopt["ID"] ? '<td>' + member.userid + '</td>' : "" %>
                        <%- loggedInUser.membersopt["Name"] ? '<td>' + member.name + '</td>' : "" %>
                        <%- loggedInUser.membersopt["Position"] ? '<td>' + member.generalrole + '</td>' : "" %>
                        <td>
                            <a role="button" class="btn btn-success mr-1"
                                href="<%=`/members/${projectid}/edit/${member.userid}`%>">Edit</a>
                            <%- (loggedInUser.isadmin || loggedInUser.generalrole == "Manager") ? `<a role="button" class="btn btn-danger" href="/members/${projectid}/delete/${member.userid}">Delete</a>` : '' %>
                        </td>
                    </tr>
                    <%_ }); -%>
                </tbody>
            </table>
        </div>

        <!--PAGINATION-->
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item <%= (currentPage == 1) ? 'disabled' : '' %>">
                    <a class="page-link"
                        href="<%= url.includes('?') ? `/members/${projectid}${url.replace('/?page=' + currentPage,'?page=' + Number(currentPage-1))}` : `/members/${projectid}?page=` + Number(currentPage-1) %>">Previous</a>
                </li>
                <% for(let i = (currentPage == 1) ? currentPage : currentPage - 1; i <= totalPage && i <= currentPage + 5; i++){ %>
                <li class="page-item <%= (i == currentPage) ? 'active' : '' %>"><a class="page-link"
                        href="<%= url.includes('?') ? `/members/${projectid}${url.replace('/?page=' + currentPage,'?page=' + i)}` : `/members/${projectid}?page=` + i %>"><%= i %></a>
                </li>
                <% } %>
                <li class="page-item <%= (currentPage == totalPage) ? 'disabled' : '' %> ">
                    <a class="page-link"
                        href="<%= url.includes('?') ? `/members/${projectid}${url.replace('/?page=' + currentPage,'?page=' + Number(currentPage+1))}` : `/members/${projectid}?page=` + Number(currentPage+1) %>">Next</a>
                </li>
            </ul>
        </nav>

        <%- (loggedInUser.isadmin || loggedInUser.generalrole == "Manager") ? '<a role="button" href="projects/add" class="btn btn-primary">Add</a>' : '' %>
    </div>

    <%_ include ../../partials/footer -%>